/* default page style */

#theme-color{
  background-color: #97cccc;
}

/* DrumKitStyle */
.drumKit{
  background-color: #fff2d7;
  margin: auto;
  border: 1px solid #3333334f;
  width: 800px;
  height: 500px;
  text-align: center;
  padding: 20px 35px;
}

/*SymbalColor*/
.symbal{
  display: inline-block;
  background-color: #fff352;
  border-radius: 50%;
  border: 2px solid rgb(128, 112, 91);
  text-align: center;
  
}

#clash1 {
  width: 80px;
  height: 80px;
}

#clash2 {
  width: 80px;
  height: 80px;
}


#hihat {
  width: 100px;
  height: 100px;
}

#ride {
  width: 120px;
  height: 120px;
} 

/*TaikoColor*/
.taiko {
  display: inline-block;
  background-color: #ddd8dc;
  border-radius: 50%;
  border: 2px solid #24140e;
  padding: 2px;
  text-align: center;
}

#snare {
  width: 110px;
  height: 110px;
}


#tom1 {
  width: 90px;
  height: 90px;

}

#tom2 {
  width: 100px;
  height: 100px;
}

#floor {
  width: 115px;
  height: 115px;
}

#kick {
  width: 110px;
  height: 90px;
}

/* Player Setting */
.player{
  margin: auto;
  width: 800px;
  height: 20px;
  display: flex;
  padding: 20px 35px;
  display: flex;
}

.start{
  width: 25px;
}

.stop{
  width: 25px;
}

.rec{
  width: 25px;
}

.bpm {
  width: 50px;
  height: 10px;
}

/* BeatBox Style */
.beatBox{
  margin: auto;
  width: 800px;
  height: 400px;
  background-color: aliceblue;
  flex-flow:column ;
  padding: 20px 35px;

}
.hihatCahnnel{
  width: auto;
}

.noteBox {
  display: inline-block;
  border-radius: 2%;
  border: 1px solid #24140e;
  text-align: center;
  width: auto;
  height: 40px;
}


/* footter */
.footer{
  border-top: 2px #24140e;
}

#endTab{
  margin: auto;
  width: auto;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
  color: #24140e86;
}

#creater{
  margin: auto;
  width: auto;
  text-align: center;
  font-size: 5px;
  color: #b8b8b894;
}
