/* default page style */

/* header */
.header{
  margin: auto;
  width: auto;
  height: 50px;
}

#digLog{
  width: 20px;
  height: 20px;
}

/* .nav {
  border-bottom: 1px #24140e ;
} */


#theme-color{
  background-color: #97cccc;
}
.headerTab{
  background-color: #afeeee ;
  border-bottom: 5px double #ceafed ;
  margin: auto;
  text-align: center;
}


/* DrumKitStyle */
.drumKit{
  background-color: #fff2d7;
  margin: auto;
  border: 1px solid #3333334f;
  width: auto;
  height: 400px;
  text-align: center;
}

/*SymbalColor*/
.clash1 {
  margin: auto;
  background-color: #fff352;
  border-radius: 50%;
  border: 2px solid rgb(128, 112, 91);
  top: 100px;
  left: 100px;
  text-align: center;
}

.clash2 {
  margin: auto;
  background-color: #fff352;
  border-radius: 50%;
  position: calc(100,100);
  border: 2px solid rgb(128, 112, 91);

  text-align: center;
}


.hihat {
  margin: auto;
  background-color: #fff352;
  border-radius: 50%;
  position: calc(100,100);
  border: 2px solid rgb(128, 112, 91);

  text-align: center;
}

.ride {
  margin: auto;
  background-color: #fff352;
  border-radius: 50%;
  position: calc(100,100);
  border: 2px solid rgb(128, 112, 91);

  text-align: center;
}

/*TaikoColor*/
.snare {
  background-color: #ddd8dc;
  border-radius: 50%;
  border: 2px solid #24140e;
  padding: 20px;
  text-align: center;
}

.tom1 {
  background-color: #ddd8dc;
  border-radius: 50%;
  border: 2px solid #24140e;
  text-align: center;

}

.tom2 {
  background-color: #ddd8dc;
  border-radius: 50%;
  border: 2px solid #24140e;
  text-align: center;
}

.floor {
  background-color: #ddd8dc;
  border-radius: 50%;
  border: 2px solid #24140e;
  text-align: center;
}

.kick {
  background-color: #ddd8dc;
  border-radius: 50%;
  border: 2px solid #24140e;
  text-align: center;
}

/* Player Setting */
.player{
  margin: auto;
  width: auto;
  height: 10%;
  display: flex;
}

.bpm {
  width: 25px;
  height: 10px;
}

/* BeatBox Style */
.beatBox{
  margin: auto;
  width: auto;
  height: 400px;
  background-color: aliceblue;
  flex-flow:column ;

}

/* footter */
.footer{
  border-top: 2px #24140e;
}

#endTab{
  margin: auto;
  width: auto;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
  color: #24140e86;
}

#creater{
  margin: auto;
  width: auto;
  text-align: center;
  font-size: 5px;
  color: #b8b8b894;
}
