/* default page style */
/* .nav {
  border-bottom: 1px #24140e ;
} */
body{
  background-color: #97cccc;
}

.headerTab{
  background-color: #afeeee ;
  border-bottom: 5px double #ceafed ;
  margin: auto;
  text-align: center;

}

